<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.empresa.aplicacionedgeimpulse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- WakeLock parcial para mantener la CPU activa con pantalla apagada durante el monitoreo -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/edge_impulse9"
        android:label="@string/app_name"
        android:roundIcon="@drawable/edge_impulse9"
        android:supportsRtl="true"
        android:theme="@style/Theme.AplicacionEdgeImpulseDeteccionCaidas">

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AlertActivity" />
        <activity android:name=".SettingsActivity" />

    </application>

</manifest>
